.container {
    width: 300px;
    height: 200px;
    background-color: pink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}
